//*==============================================================================
//** Colour, font stacks, media queries, that kind of thing  **
//*==============================================================================

//*=========================================
//** Media Queries   **
//*=========================================

//********** Max Width **********

@mixin breakpoint($point) {
  @if unitless($point) {
    $point: 1px * $point;
  }
  @media (max-width: $point) {
    @content;
  }
}

//*=========================================
//** Layout **
//*=========================================

//* Flex Mixin
@mixin flex($direction) {
  display: flex;
  flex-direction: $direction;
}

//*=========================================
//** Typography **
//*=========================================

//* Font Stacks
@mixin main-font-stack {
  font-family: 'futura-pt', sans-serif;
  font-weight: 700;
  font-style: normal;
}

@mixin heading-font-stack {
  font-family: roboto, sans-serif;
  font-weight: 700;
  font-style: normal;
}

//*=========================================
//** Colours  **
//*=========================================

// Main brand Colours
$background-colour-light: #fff;

// Main Font Colours
$font-colour-light: #fff;
$font-colour-dark: #000000;

// Link Colours
$link-colour: #3c3cf6;
