//*==============================================================================
//** Colour, font stacks, media queries, that kind of thing  **
//*==============================================================================

//*=========================================
//** Media Queries   **
//*=========================================

//********** Max Width **********

@mixin breakpoint($point) {
  @if unitless($point) {
    $point: 1px * $point;
  }
  @media (max-width: $point) {
    @content;
  }
}

//*=========================================
//** Layout **
//*=========================================

//* Flex Mixin
@mixin flex($direction) {
  display: flex;
  flex-direction: $direction;
}

//*=========================================
//** Typography **
//*=========================================

//* Font Stacks
@mixin main-font-stack {
  font-family: 'Roboto', sans-serif;
  font-style: normal;
}

//********** Font Sizing **********

$font-size-tiny: 0.95rem;
$font-size-small: 1.1rem;
$font-size-medium: 1.3rem;
$font-size-large: 1.8rem;
$font-size-extra-large: 2.1rem;
$font-size-very-large: 5rem;
$font-size-super-size: 9rem;
$font-size-super-duper-size: 14rem;

//*=========================================
//** Colours  **
//*=========================================

// Main brand Colours
$background-colour-light: #fff;
$background-colour-dark: #000;

// Main Font Colours
$font-colour-light: #fff;
$font-colour-dark: #000000;

// Link Colours
$link-colour: #3c3cf6;

//*=========================================
//** Animations **
//*=========================================

//********** Marquee **********

@keyframes marquee-text-animation {
  0% {
    transform: translateX(-20%);
  }
  100% {
    transform: translateX(100%);
  }
}
