// *=======================================================================================
// ** Styles for all pages  **
// *=======================================================================================

// *=======================================================================================
// ** Imports & Mixins  **
// *=======================================================================================

//*=========================================
//** Imports **
//*=========================================

@use 'bits' as *; //Contains variables, media queries mixins etc.

//*=========================================
//** Mixins **
//*=========================================

// Bottom spacing
@mixin bottom-spacing {
  margin-bottom: $section-spacing-large;

  @include breakpoint(1300) {
    margin-bottom: $section-spacing-medium;
  }

  @include breakpoint(700) {
    margin-bottom: $section-spacing-small;
  }
}

// *=========================================
// ** Page & Site Wrappers **
// *=========================================

html {
  font-size: 10px;
  overflow-x: hidden;
  scroll-behavior: smooth;

  // Scroll bar
  @include styled-scrollbar(
    $font-size-extra-small,
    $background-colour-three,
    $background-colour-light,
    $background-colour-light
  );
}

// * Box sizing rules
*,
*:before,
*:after {
  box-sizing: border-box;
}

body {
  @include main-font-stack;
  margin: 0 auto;
  position: relative;
  min-width: 320px;
  max-width: 2500px;
  overflow-x: hidden;
  background-color: $background-colour-light;
}

// *=========================================
// ** Content container and block **
// *=========================================

//********** Headings**********
h1,
h2,
h3 {
  @include heading-font-stack;
  font-weight: 700;
  text-align: center;
}

//********** Containers **********

section,
main {
  top: 0;
  left: 0;
  position: relative;
  overflow: hidden;
  z-index: 3;
  width: 100%;
}

// *=========================================
// ** Inline **
// *=========================================

//********** Images **********

//* Make images easier to work with
img {
  max-width: 100%;
  display: block;
}
