// *=======================================================================================
// ** Styles for all pages  **
// *=======================================================================================

// *=======================================================================================
// ** Imports & Mixins  **
// *=======================================================================================

//*=========================================
//** Imports **
//*=========================================

@use 'bits' as *; //Contains variables, media queries mixins etc.

//*=========================================
//** Mixins **
//*=========================================

// Bottom spacing
@mixin bottom-spacing {
  margin-bottom: $section-spacing-large;

  @include breakpoint(1300) {
    margin-bottom: $section-spacing-medium;
  }

  @include breakpoint(700) {
    margin-bottom: $section-spacing-small;
  }
}

// *=========================================
// ** Page & Site Wrappers **
// *=========================================

html {
  font-size: 10px;
  overflow-x: hidden;
  scroll-behavior: smooth;
  background-color: $background-colour-dark;
}

// * Box sizing rules
*,
*:before,
*:after {
  box-sizing: border-box;
}

body {
  @include main-font-stack;
  margin: 0 auto;
  position: relative;
  min-width: 320px;
  max-width: 1640px;
  overflow-x: hidden;
  background-color: $background-colour-light;
}

// *=========================================
// ** Content container and block **
// *=========================================

//********** Headings**********
h1,
h2,
h3 {
  @include main-font-stack;
  font-weight: 700;
  text-align: left;
  text-transform: uppercase;
}

//********** Containers **********

section {
  top: 0;
  left: 0;
  position: relative;
  overflow: hidden;
  z-index: 3;
  width: 100%;
  min-height: 80vh;
}

// *=========================================
// ** Inline **
// *=========================================

//********** Images **********

//* Make images easier to work with
img {
  max-width: 100%;
  display: block;
}

//*=========================================
//** Header **
//*=========================================

.header {
  @include flex(row);
  align-items: center;
  padding: 25px;
  font-size: $font-size-medium;
  color: $font-colour-dark;
  text-transform: uppercase;
  border-bottom: 2px solid #000;
}

//********** Header Logo **********
.header__logo-outer-wrapper {
  font-size: $font-size-tiny;
}

.header__logo-inner-wrapper {
  border: 1px solid #000;
  width: 46px;
  height: 46px;
  padding: 12px 14px;
  margin-bottom: 5px;
}

.header__logo {
  width: 17px;
}

//********** Main Nav **********

.main-nav {
  @include flex(row);
  justify-content: space-between;
  margin: 0 auto;
  width: 274px;
}

.main-nav__link {
  text-decoration: none;
  color: inherit;
}

//********** Header Subnav **********

.header__sub-nav {
  @include flex(row);
  justify-content: space-between;
  width: 230px;
}

.header__sub-nav-icons {
  width: 20px;
  height: 20px;
}

.header__country-select {
  border: 0;
  font-family: inherit;
  text-transform: uppercase;
}

//*=========================================
//** Homepage **
//*=========================================

//********** Marquee **********

.marquee-text {
  font-size: $font-size-medium;
  text-transform: uppercase;
  padding: 12px 0;
  animation: marquee-text-animation 10s linear infinite forwards;
}

//********** Hero **********

.hero-wrapper {
  background-image: url('/images/HP Hero.png');
  background-repeat: no-repeat;
  background-size: cover;
  padding: 0 26px;
  color: $font-colour-light;
}

.section__text-wrapper {
  width: 680px;
}

.hero__main-heading {
  font-size: $font-size-super-size;
  padding-top: 72px;
  margin: 0 auto 17px;
}

.hero__paragraph {
  font-size: $font-size-extra-large;
  margin: 0 auto;
}

//********** About Us **********

.about-us__wrapper {
  padding: 100px;
}

.about__text-wrapper {
  color: $font-colour-dark;
}

.about-us__heading {
  font-size: $font-size-very-large;
  margin: 0 auto 17px 0;
}

.about-us__paragraph {
  font-size: $font-size-large;
  margin: 0 auto 55px 0;
}

.about__images-wrapper {
  @include flex(row);
  align-items: flex-start;
  justify-content: space-between;
}

.about__image {
  flex: 1 1 auto;
  position: relative;
  width: 30%;
  height: auto;

  &:first-of-type {
    margin-right: 125px;
  }

  &:last-of-type {
    margin-top: 100px;
  }
}
